version: "3.9"

services:
  zookeeper:
    image: wurstmeister/zookeeper:3.4.6
    container_name: jollibee-zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:2.12-2.5.0
    container_name: jollibee-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  menu-service:
    build: ./menu-service
    container_name: menu-service
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
    depends_on:
      - kafka

  cart-service:
    build: ./cart-service
    container_name: cart-service
    ports:
      - "3002:3002"
    environment:
      - PORT=3002
    depends_on:
      - kafka

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "3003:3003"
    environment:
      - PORT=3003
    depends_on:
      - kafka

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "3004:3004"
    environment:
      - PORT=3004
    depends_on:
      - kafka

  api-gateway:
    image: nginx:alpine
    container_name: api-gateway
    ports:
      - "8080:80"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - menu-service
      - cart-service
      - order-service
      - payment-service
